{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BarterApp</title>
    <link rel="stylesheet" href="{% static 'TestBarter/style.css' %}"> 
</head>

<body>
    <h1>Welcome to BarterApp</h1>
    <div class="navbar">  <!-- This is the navigation bar -->
        <a href="/home/">Home</a>
        <a href="/signup/">Sign up</a>
        <a href="/login/">Login</a>
        <a href="/add_product/">Add Product</a>
    </div>

    <p>BarterApp is a platform where you can exchange goods and services with other users. You can post items you want to exchange and view items posted by other users. You can also chat with other users to negotiate the terms of the exchange.</p>
    <p>Sign up now to start exchanging goods and services! <a href="/signup/">Sign Up</a></p>
    

</body>

</html>