{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'TestBarter/style.css' %}"> 
</head>

<body>
    <h1>Sign Up</h1>
    <div class="navbar"> <!-- This is the navigation bar -->
        <a href="/home/">Home</a>
        <a href="/signup/">Sign up</a>
        <a href="/login/">Login</a>
        <a href="/add_product/">Add Product</a>
    </div>
    <p>Sign up now to start exchanging goods and services!</p>
    <p>Fill out the form below to create an account:</p>

    <div class="signUpContainer">
        <form class="signUpForm" action="/signup/" method="POST">
           {% csrf_token %}
            <h2> Sign Up</h2>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <label for="confirm_password">Confirm Password:</label><br>
            <input type="password" id="confirm_password" name="confirm_password"><br>
            <button type="submit">Sign Up</button>
        </form>

    </div> 
    
    <div class="bottomContainer">
        <p>Already have an account? <a href="/login/">Login</a></p>
        <p>Return to <a href="/">Home</a></p>
    </div>
    
    

</body>

</html>