
a{
    color:purple;
}

.navbar {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0px;
  }

.navbar p{
    margin: 0;
    font-weight: bold;
    font-size: 23px;
    float: left;
    padding: 14px 14px;
    color: white;
    text-align: center;
}

.nav-links{
    float: right;
    width: 100%;
}

.navbar a{
    float: right;
    display: block;
    padding: 14px 14px;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
}
.navbar a.active {
    background-color: #666;
    color: white;
  }

.signUpContainer{
    width: 60%;
    padding: 0 20px 20px 20px;
    border: 3px solid #333;
    border-radius: 10px;
    background-color: #f4f4f4;
    text-align: left;
    margin:0 auto;
  }

.signUpForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
 } 

 .button{
    background-color:#f4f4f4;
 }

 .bottomContainer{
    margin-top: 20px; 
    right: 50%;

 }